{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Asistencia
{% endblock title %}
{% block navbar %}
{% endblock navbar %}
{% block style %}

.trigger-btn {
display: inline-block;
margin: 100px auto;
}
.info p {
text-align:center;
color: #999;
text-transform:none;
font-weight:600;
font-size:15px;
margin-top:2px
}

.info i {
color:#F6AA93;
}
form h1 {
font-size: 18px;
background: #008bd2 none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
padding: 22px 25px;
border-radius: 5px 5px 0px 0px;
margin: auto;
text-shadow: none;
text-align:left
}

form {
border-radius: 5px;
max-width:700px;
width:100%;
margin: 5% auto;
background-color: #FFFFFF;
overflow: hidden;
}

p span {
color: #F00;
}

p {
margin: 0px;
font-weight: 500;
line-height: 2;
color:#333;
}

h1 {
text-align:center;
color: #666;
text-shadow: 1px 1px 0px #FFF;
margin:50px 0px 0px 0px
}

input {
border-radius: 0px 5px 5px 0px;
border: 1px solid #eee;
margin-bottom: 15px;
width: 93%;
height: 40px;
float: left;
padding: 0px 15px;
}

a {
text-decoration:inherit
}

textarea {
border-radius: 0px 5px 5px 0px;
border: 1px solid #EEE;
margin: 0;
width: 75%;
height: 130px;
float: left;
padding: 0px 15px;
}

.form-group {
overflow: hidden;
clear: both;
}

.icon-case {
width: 35px;
float: left;
border-radius: 5px 0px 0px 5px;
background:#eeeeee;
height:40px;
position: relative;
text-align: center;
line-height:40px;
}

i {
color:#555;
}

.contentform {
padding: 40px 30px;
}

.bouton-contact{
background-color: #008bd2;
color: #FFF;
text-align: center;
width: 100%;
border:0;
padding: 17px 25px;
border-radius: 0px 0px 5px 5px;
cursor: pointer;
font-size: 18px;
}

.leftcontact {
width:49.5%;
float:left;
border-right: 1px dotted #CCC;
box-sizing: border-box;
padding: 0px 15px 0px 0px;
}

.rightcontact {
width:49.5%;
float:right;
box-sizing: border-box;
padding: 0px 0px 0px 15px;
}

.validation {
display:none;
margin: 0 0 10px;
font-weight:400;
font-size:13px;
color: #DE5959;
}

#sendmessage {
border:1px solid #fff;
display:none;
text-align:center;
margin:10px 0;
font-weight:600;
margin-bottom:30px;
background-color: #EBF6E0;
color: #5F9025;
border: 1px solid #B3DC82;
padding: 13px 40px 13px 18px;
border-radius: 3px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show {
display:block;
}

.year{
width:93%;
}






/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (max-width: 720px){

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    .info p {
        text-align:center;
        color: #999;
        text-transform:none;
        font-weight:600;
        font-size:15px;
        margin-top:2px
    }

    .info i {
        color:#F6AA93;
    }
    form h1 {
        font-size: 18px;
        background: #008bd2 none repeat scroll 0% 0%;
        color: rgb(255, 255, 255);
        padding: 22px 25px;
        border-radius: 5px 5px 0px 0px;
        margin: auto;
        text-shadow: none;
        text-align:left
    }

    form {
        border-radius: 5px;
        max-width:700px;
        width:100%;
        margin: 2% auto;
        background-color: #FFFFFF;
        overflow: hidden;
    }

    p span {
        color: #F00;
    }

    p {
        margin: 0px;
        font-weight: 500;
        line-height: 2;
        color:#333;
    }

    h1 {
        text-align:center;
        color: #666;
        text-shadow: 1px 1px 0px #FFF;
        margin:50px 0px 0px 0px
    }

    input {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #eee;
        margin-bottom: 15px;
        width: 85%;
        height: 40px;
        float: left;
        padding: 0px 15px;
    }

    a {
        text-decoration:inherit
    }

    textarea {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #EEE;
        margin: 0;
        width: 75%;
        height: 130px;
        float: left;
        padding: 0px 15px;
    }

    .form-group {
        overflow: hidden;
        clear: both;
    }

    .icon-case {
        width: 35px;
        float: left;
        border-radius: 5px 0px 0px 5px;
        background:#eeeeee;
        height:40px;
        position: relative;
        text-align: center;
        line-height:40px;
    }

    i {
        color:#555;
    }

    .contentform {
        padding: 40px 30px;
    }

    .bouton-contact{
        background-color: #008bd2;
        color: #FFF;
        text-align: center;
        width: 100%;
        border:0;
        padding: 17px 25px;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .leftcontact {
        width:49.5%;
        float:left;
        border-right: 1px dotted #CCC;
        box-sizing: border-box;
        padding: 0px 15px 0px 0px;
    }

    .rightcontact {
        width:49.5%;
        float:right;
        box-sizing: border-box;
        padding: 0px 0px 0px 15px;
    }

    .validation {
        display:none;
        margin: 0 0 10px;
        font-weight:400;
        font-size:13px;
        color: #DE5959;
    }

    #sendmessage {
        border:1px solid #fff;
        display:none;
        text-align:center;
        margin:10px 0;
        font-weight:600;
        margin-bottom:30px;
        background-color: #EBF6E0;
        color: #5F9025;
        border: 1px solid #B3DC82;
        padding: 13px 40px 13px 18px;
        border-radius: 3px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
    }

    #sendmessage.show,.show {
        display:block;
    }

    .year{
        width:85%;
    }
    form{
        margin-left:5.5%;
    }

}

{% endblock style %}
{% block body %}



<form action="{% url 'create_student' %}" method="POST">
  <h1>Crear Alumno</h1>

  {% csrf_token %}

  <div style="margin-left: 12px">
	<div class="form-group">
	  <p>Nombre:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-user"></i></span>
	  {{form.first_name}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Apellido:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-user"></i></span>
	  {{form.last_name}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Dni: <span>*</span></p>
	  <span class="icon-case"><i class="fa fa-address-card"></i></span>
	  {{form.dni}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Nº de Legajo:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-home"></i></span>
	  {{form.student_tag}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Nº de lista:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-sort-numeric-asc"></i></span>
	  {{form.list_number}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Nº de banco:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-sort-numeric-asc"></i></span>
	  {{form.room_order}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <label>Fecha de Nacimiento</label>
		{{form.birthday}}
	  <div class="validation"></div>
	</div>


<div class="well"> 
</div>
	<div class="form-group">
	  <p>Dirección:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-map-marker"></i></span>
	  {{form.address}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Barrio:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-map-marker"></i></span>
	  {{form.neighbourhood}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Ciudad:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-map-marker"></i></span>
	  {{form.city}}
	  <div class="validation"></div>
	</div>

	<div class="form-group">
	  <p>Curso:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-institution"></i></span>
	  <select class="form-control year" id="id_year" name="year">
		{% for year in form.year %}
		{{year}}
		{% endfor %}
	  </select>
	  <div class="validation"></div>
	</div>


		<table class="table">


  <tbody>
  
	<tr>
	  <td class="pepe">


	<label class="container" >Celiaco
  <input class="cbox" type="checkbox" id="Celiaco" >
  <span class="checkmark"></span>
</label>    
<label class="container">Diabetico
  <input class="cbox" type="checkbox" id="Diabetico" >
  <span class="checkmark"></span>
</label>
<label class="container">Astringente
  <input class="cbox" type="checkbox" id="Astringente" >
  <span class="checkmark"></span>
</label>
<label class="container" >Hipatoprotector
  <input class="cbox" type="checkbox" id="Hipatoprotector" >
  <span class="checkmark"></span>
</label>
</td>


<td >
  <label class="container">Vegetariano
  <input class="cbox" type="checkbox" id="Vegetariano" >
  <span class="checkmark"></span>
  </label>
  <label class="container">Hipocalorica
  <input class="cbox" type="checkbox" id="Hipocalorica" >
  <span class="checkmark"></span>
</label>
<label class="container">Gastoprotector
  <input class="cbox" type="checkbox" id="Gastoprotector" >
  <span class="checkmark"></span>
</label>
	  </td>
  </tr> 
<td>
<label class="container" >Kosher
  <input class="cbox" type="checkbox" id="Kosher">
  <span class="checkmark"></span>
</label>
<label class="container" >Adventista
  <input class="cbox" type="checkbox" id="Adventista">
  <span class="checkmark"></span>
</label><label class="container">Hipoalergenico
  <input class="cbox" type="checkbox" id="Hipoalergenico" >
  <span class="checkmark"></span>
</label>
<label class="container">Otros
  <input class="cbox" type="checkbox" id="Otros">
  <span class="checkmark"></span>
</label>

	  <div class="form-group" id="hipobox">
	  <input type="text" placeholder="Hipoalergenico a: (Separar por comas)" id="hipoinput">
	  </div>

	  <div class="form-group" id="otrosbox">
	  <input type="text" placeholder="Otros: (Separar por comas)" id="otrosinput">
	  </div>


</td>
  
  </tbody>
</table>
<div id ="obvs" class="form-group">
	  <p>Observacion Alimenticia:</p>
	  {{form.food_obvs}}


</div>  

	<div class="form-group">
	  <p>Estado:<span>*</span></p>
	  <span class="icon-case"><i class="fa fa-check"></i></span>
	  <!-- {{form.status}}-->

	  <select class="form-control year" id="id_status" name="status">
		{% for status in form.status %}
		{{status}}
		{% endfor %}
	  </select>

	  <div class="validation"></div>
	</div>
    </div>
<button type="submit" class="bouton-contact" value="Create student">Crear Alumno</button>


</form>

<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("id_food_obvs").readOnly = true;
		$("#otrosbox").hide()
		$("#hipobox").hide()
		$("#obvs").hide()
	});

	$(document).change(function () {
		var elements = document.getElementsByClassName('cbox'); 
		var checkeds = [];

		for (var i = 0;elements[i];i++){
			if (elements[i].checked == true) {
				if (elements[i].id=="Otros"){
					$("#otrosbox").show()
					var otr = document.getElementById("otrosinput").value
					checkeds.push(elements[i].id +": "+"("+ otr+")")
				}
				if (elements[i].id=="Hipoalergenico"){
					$("#hipobox").show()
					var hip = document.getElementById("hipoinput").value
					checkeds.push(elements[i].id +": "+"("+ hip+")")
				}
				if(elements[i].id !="Hipoalergenico" &&  elements[i].id!="Otros"){
					$("#otrosbox").hide()
					$("#hipobox").hide()
					checkeds.push(elements[i].id)}	
				} 
			}
			document.getElementById("id_food_obvs").value = checkeds.join(';'); 

		});



</script>



{% endblock body %}

