{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Administrar
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block style %}
a {
   width: 150px;
}
{% endblock style %}
{% block body %}
<div>
<a href="{% url 'register' %}" class="btn btn-primary btn-block btn-lg">Registrar</a>
<a href="{% url 'create_student' %}" class="btn btn-primary btn-block btn-lg">Crear Estudiante</a>
<a href="{% url 'preceptor_list' %}" class="btn btn-primary btn-block btn-lg">Modificar preceptores</a>
<a href="{% url 'student_list' %}" class="btn btn-primary btn-block btn-lg">Modificar Estudiantes</a>
</div>
{% endblock body %}
