{% extends 'base.html' %}
{% block imports %}
    <meta charset="utf-8">

{% endblock imports %}
{% block title %}
Update preceptor
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block style %}
.hola {
  border-radius: 5px;
  
  width:100%;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
@media only screen and (max-width: 720px){
.hola {
  border-radius: 5px;
  
  width: 114%;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
.scroll{
    width:380px; 
    height:190px; 
    overflow:auto;
}

}
{% endblock style %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
        <div class="hola">
<div class="tr">  
    <thead class="">
    
        <tr class="">
            <th scope="col">Alumnos</th>
            
        </tr>
    

    </thead>
</div>
<tr>
         <input type="text" id="myInput" onkeyup="myFunction2()" placeholder="Buscar nombre" title="Type in a name" style="width: 545px;margin-bottom: 0px;">

    </tr>
<div class="scroll">
      <table cellspacing="0" cellpadding="1" border="1" width="300px" class="table" id="myTable" style="margin-bottom: 0px; ">




  <tbody>
{% for student in students%}
    <tr>
      <td>
        {{ student }}
      </td>
      <td style="width: 90px">
        <button id="btn-{{ student.id }}" class="btn btn-flat" onclick="form_update({{ student.id }})">Editar</button>
      </td>
  </tr>

  {% endfor %}          
  </tbody>
</table>
</div>
        </div>
    </div>
    <div id="card" class="col">

    </div>
  </div>
</div>
<script>
function form_update(id){
  $.ajax({
    url:"{% url 'update_student' %}",
    data:{
      student : id,
    },
    success:function(results){
      $("#card").html(results)
    },
    error:function(request, status, error){
      alert(request.responseText)
    }
  });
}
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction2() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% endblock body %}
