<style>


	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
   .info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 93%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:40px;
  position: relative;
  text-align: center;
  line-height:40px;
}

i {
  color:#555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact{
  background-color: #008bd2;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  font-size: 18px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

.year{
    width:93%;
}

    .padding_correction{
        padding-left: 12px;
        padding-right: 12px;
    }
@media only screen and (max-width: 720px){

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    .info p {
        text-align:center;
        color: #999;
        text-transform:none;
        font-weight:600;
        font-size:15px;
        margin-top:2px
    }

    .info i {
        color:#F6AA93;
    }
    form h1 {
        font-size: 18px;
        background: #008bd2 none repeat scroll 0% 0%;
        color: rgb(255, 255, 255);
        padding: 22px 25px;
        border-radius: 5px 5px 0px 0px;
        margin: auto;
        text-shadow: none;
        text-align:left
    }

    form {
        border-radius: 5px;
        max-width:700px;
        width:100%;
        margin: 2% auto;
        background-color: #FFFFFF;
        overflow: hidden;
    }

    p span {
        color: #F00;
    }

    p {
        margin: 0px;
        font-weight: 500;
        line-height: 2;
        color:#333;
    }

    h1 {
        text-align:center;
        color: #666;
        text-shadow: 1px 1px 0px #FFF;
        margin:50px 0px 0px 0px
    }

    input {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #eee;
        margin-bottom: 15px;
        width: 90%;
        height: 40px;
        float: left;
        padding: 0px 15px;
    }

    a {
        text-decoration:inherit
    }

    textarea {
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #EEE;
        margin: 0;
        width: 75%;
        height: 130px;
        float: left;
        padding: 0px 15px;
    }

    .form-group {
        overflow: hidden;
        clear: both;
    }

    .icon-case {
        width: 35px;
        float: left;
        border-radius: 5px 0px 0px 5px;
        background:#eeeeee;
        height:40px;
        position: relative;
        text-align: center;
        line-height:40px;
    }

    i {
        color:#555;
    }

    .contentform {
        padding: 40px 30px;
    }

    .bouton-contact{
        background-color: #008bd2;
        color: #FFF;
        text-align: center;
        width: 100%;
        border:0;
        padding: 17px 25px;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .leftcontact {
        width:49.5%;
        float:left;
        border-right: 1px dotted #CCC;
        box-sizing: border-box;
        padding: 0px 15px 0px 0px;
    }

    .rightcontact {
        width:49.5%;
        float:right;
        box-sizing: border-box;
        padding: 0px 0px 0px 15px;
    }

    .validation {
        display:none;
        margin: 0 0 10px;
        font-weight:400;
        font-size:13px;
        color: #DE5959;
    }

    #sendmessage {
        border:1px solid #fff;
        display:none;
        text-align:center;
        margin:10px 0;
        font-weight:600;
        margin-bottom:30px;
        background-color: #EBF6E0;
        color: #5F9025;
        border: 1px solid #B3DC82;
        padding: 13px 40px 13px 18px;
        border-radius: 3px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
    }

    #sendmessage.show,.show {
        display:block;
    }

    .year{
        width:93%;
    }
    form{
        margin-left:5.5%;
    }
    select{
        width: 85%;
    }
    .hola {
  border-radius: 5px;
  margin-left: 122px;
  width:114%;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
    .padding_correction{
        padding-left: 12px;
        padding-right: 12px;
        }
    .form_size{
        width: 114%;
        margin-left: 0px;
    }
}
</style>


<form action="{% url 'update_student' %}" method="POST" class="form_size">  
  {% csrf_token %}
    <h1>Actualizar</h1>
      <input type="hidden" name="id" class="form-control" required="required" value="{{id}}">
    	<div class="padding_correction">
			      <div class="form-group">
			        <p>Nombre:<span></span></p>
			        <span class="icon-case"><i class="fa fa-user"></i></span>
				        	<input type="text" name="first_name"  placeholder="Nombre" required="required" value="{{form.first_name.value}}">
                <div class="validation"></div>
       </div> 

            <div class="form-group">
            <p>Apellido:<span></span></p>
            <span class="icon-case"><i class="fa fa-user"></i></span>
				<input type="text" name="last_name"  placeholder="Apellido" required="required" value="{{form.last_name.value}}">
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Dni: <span></span></p>	
			<span class="icon-case"><i class="fa fa-address-card"></i></span>
                	<input type="text" name="dni"  placeholder="Dni" required="required" value="{{form.dni.value}}">
                <div class="validation"></div>
			</div>	

			<div class="form-group">
			<p>legajo:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
				<input type="text" name="student_tag"  placeholder="Legajo" required="required" value="{{form.student_tag.value}}">
                <div class="validation"></div>
			</div>
            
			<div class="form-group">
			<p>Numero de lista:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
					<input type="text" name="list_number"  placeholder="Numero de lista" required="required" value="{{form.list_number.value}}">
                <div class="validation"></div>
			</div>

      <div class="form-group">
      <p>Numero de banco:<span></span></p>
      <span class="icon-case"><i class="fa fa-at"></i></span>
          <input type="text" name="room_order"  placeholder="Numero de banco" required="required" value="{{form.room_order.value}}">
                <div class="validation"></div>
            </div>
            
			<div class="form-group">
			<p>Nacimiento:<span></span></p>
			<span class="icon-case"><i class="fa fa-institution"></i></span>
               {{form.birthday}}
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Direccion:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
	           <input type="text" name="address"  placeholder="Direccion" required="required" value="{{form.address.value}}">
                <div class="validation"></div>
			</div>
            
			<div class="form-group">
			<p>Ciudad:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
	           <input type="text" name="city" placeholder="Ciudad" required="required" value="{{form.city.value}}">
                <div class="validation"></div>
			</div>
            
			<div class="form-group">
			<p>Barrio:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
                <input type="text" name="neighbourhood"  placeholder="Barrio" required="required" value="{{form.neighbourhood.value}}">
                <div class="validation"></div>
			</div>
            
			<div class="form-group">
			<p>Año:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
	           <select class="form-control year" id="id_year" name="year">
                {% for year in form.year %}
                {{year}}
                {% endfor %} 
                </select>
                <div class="validation"></div>
			</div>
            
			<div class="form-group">
			<p>Estatus:<span></span></p>
			<span class="icon-case"><i class="fa fa-at"></i></span>
	           <select class="form-control year" id="id_status" name="status">
                {% for status in form.status %}
                {{status}}
                {% endfor %}
                </select>
                <div class="validation"></div>
			</div>
    
    <div class="form-group">
      <p>Observacion Alimenticia:<span>*</span></p>
      
 
<div class="form-group">   
      <span class="icon-case"><i class="fa fa-search"></i></span>
      {{form.food_obvs}}
      <div class="validation"></div>
    </div></div>



</div>

<button type="submit" class="bouton-contact" value="Update">Actualizar</button>
</form>	

<script>
</script>
