{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Asistencia
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block style %}
.hola {
  border-radius: 5px;
  
  width:800px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
{% endblock style %}
{% block body %}


<div class="hola">
<table class="table">
 <div class="tr">  
  <thead>
    <tr>
      <th scope="col">Estudiantes</th>
    </tr>
  </thead>
  </div>
  <tbody>
  {% for student in students %}
    <tr>
      <td>
        {{ student.list_number }} --    
        {{ student.last_name|upper }},
        {{ student.first_name }}
      </td>
      <td>
        <button id="btn-{{ student.dni }}" class="btn btn-flat" onclick="ausente({{ student.dni }})" style="background:lightblue">Ausente</button>
      </td>
  </tr>

  {% endfor %}          
  </tbody>
</table>
</div>
<script>
function ausente(dni){
  $.ajax({
    type:"POST",
    url:"{% url 'ausente' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      student : dni,

    },
    success:function(results){
      $("#btn-"+dni).remove()
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });

}

</script>
{% endblock body %}