{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Asistencia
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block body %}



<table class="table">
  <thead>
    <tr>
      <th scope="col">Students</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <td>
        {{ student }}
      </td>
      <td>
        <button id="btn-{{ student.id }}" class="btn btn-flat" onclick="ausente({{ student.id }})">Ausente</button>
      </td>
  </tr>

  {% endfor %}          
  </tbody>
</table>
<script>
function ausente(id){
  $.ajax({
    type:"POST",
    url:"{% url 'ausente' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      student : id,
      registro : "{{ registro.id }}",

    },
    success:function(results){
      $("#btn-"+id).remove()
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });

}

</script>
{% endblock body %}