{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Asistencia
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block style %}
              

.hola {
  border-radius: 5px;
  
  width:800px;
  margin: 2% auto;
  background-color: #008bd2;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
@media only screen and (max-width: 720px){

.hola {
  border-radius: 5px;
  
  width:400px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
    
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 20px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
    .table{
       width: 610px; 
    }
    .pepe{
        width: 100px;
    }
    .juan{
        width: 400px;
        text-align: right;
        height: 60px;
    }

}





{% endblock style %}
{% block body %}
<div  class="hola">
	<div class="tr">
        
        
    <thead class="">
    
        <tr class="">
            <th scope="col">Tomar Lista</th>
            
        </tr>


    </thead>
</div>
        
		
			<tr >
				<select class="custom-select juan" name= "orders" onchange="alfabetico(), banco()">
					<option value="Orden A - Z" onclick="alfabetico({{ id }})">Orden A - Z </option>
					<option value="Orden Curso" onclick="banco({{ id }})"> Orden Curso</option>
				</select>
			</tr> 
		

	<div id="card" class="col" style="padding-left: 0px; padding-right: 0px; top: -16px">
	</div>
</div>


<script>
  alfabetico()
  onchange()
  function alfabetico(id){
      $.ajax({
    url:"{% url 'list' id %}",

    success:function(results){
      $("#card").html(results)
    },
    error:function(request, status, error){
      alert(request.responseText)
    }
  });
  
}
  function banco(id){
    console.log("banco")
    $.ajax({
    url:"{% url 'list2' id %}",
    success:function(results){
      $("#card").html(results)
    },
    error:function(request, status, error){
      alert(request.responseText)
    }
  });

}
</script>
{% endblock body %}
