{%extends "base.html"%}
{%block title%} Asistencia
{%endblock title%}
{% block imports %}
    {%load static%}
{% endblock imports %}
{% block style %}

    
    .subtitulo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 300%;   
        width: 700px;     
    }
    .titulo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 400%;
    }
    body {
        background-color: powderblue;
    }

    .lista {
        width: 700px
    }
    .botonPresente {
        width: 233.33px;
        height: 75px;
        background-color: green;
        position: relative;
        right: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 250%;
        border: 4px solid green;
        border-radius: 12px;


    }
    .botonAusente {
        width: 233.33px;
        height: 75px;
        background-color: red;
        position: relative;
        left: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 250%;
        border: 4px solid red;
        border-radius: 12px;

    }
    .botonAusente:hover{
        background-color: red;
        
    }
    .divlista{
        position: relative;
        top: 90px;
    }
{% endblock style %}


{% block bod %}
    <div class="container divlista">
        <center>
            <div class="container titulo">
                <strong class="aria-label">asassas</strong>
            </div>
        </center>
        <center>
            <div class="subtitulo">
                <pre class="subtitulo">ss</pre>
            </div>
        </center>
        <center>
            <lista>
                <div class="container lista">
                    <ul class="list-group">
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item list-group-item-success">Vestibulum at eros</li>
                        <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                    </ul>
                </div>
            </lista>
        </center>
        <center>
            <div class="container" role="group" aria-label="...">
                <div class="btn-group">
                    <button type="button" class="btn btn-success botonPresente">Presente</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger botonAusente">Ausente</button>
                </div>
            </div>
        </center>
    </div>

{% endblock bod %}
</html>