{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Justificar Faltas
{% endblock title %}            
{% block navbar %}
{% block style %}
.hola {
  border-radius: 5px;
  
  width:800px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
@media only screen and (max-width: 720px){
body{
    background-color: green;
}
.hola {
  border-radius: 5px;
  
  width:400px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
    
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 20px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
    .table{
       width: 610px; 
    }
    .pepe{
        width: 47%;
        font-size: 150%;
    }
    .juan{
        width: 400px;
        text-align: right;
    }
    .button_size{
        height: 70px;
    }

}

{% endblock style %}
{% endblock navbar %}
{% block body %}


<div class="hola">

  <div class="tr">
  <thead>
    <tr>
      <th scope="col">Justificar Faltas</th>
    </tr>
  </thead>
</div>
<table class="table">
  <tbody>
  {% for absence in absences %}
    <tr>
      <td class="pepe">
        {{ absence.student.last_name|upper }},
        {{ absence.student.first_name }}
        -
        {{ absence.date }}
        -
        {{ absence.percentage }}

      </td>

      <td style="width: 70px" id="td-{{absence.id}}">
        <button class="button_size btn btn-flat" id="btn-{{absence.id}}" style="background:lightblue" onclick="ajax_justify({{absence.id}})" data-toggle="collapse" data-target="#{{ absence.id }}">Justificar</button>
      </td>
  </tr>
<tr>
    <td style="padding-top: 0px; padding-bottom: 0px;">
        <div id="{{ absence.id }}">
             <form id="form" action="{% url 'upload' absence.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
     <td style="padding-top: 0px; padding-bottom: 0px;">
         <div id="{{ absence.id }}">
              <div class="file-container">
                  <input type="file" name="file" id="file"  />
                  <input type="submit" name="submit">
              </div>
         </div>
       </td>
</form>
            
        </div>
      </td>
</tr>
  {% endfor %}          
  </tbody>
</table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

function ajax_justify(id){
  $.ajax({
    type:"POST",
    url:"{% url 'justify' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      absence : id,
    },
    success:function(results){
      $("#btn-"+id).remove()
      $("#td-"+id).append("<button class='btn btn-flat' id='btnu-"+id+"' onclick='undo("+id+")' style='background:lightblue'>X</button>");

    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });
}


function undo(id){
  $.ajax({
    type:"POST",
    url:"{% url 'undo_justify' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
       absence : id,

    },
    success:function(results){
      $("#btnu-"+id).remove()
      $("#td-"+id).append("<button id='btn-"+id+"' class='btn btn-flat' onclick='ajax_justify("+id+")' style='background:lightblue'>Justificar</button>");
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });
}


</script>
{% endblock body %}
<!--        <button id="btn-{{ absence.id }}" class="button_size btn btn-flat" onclick="ajax_justify({{ absence.id }})" style="background:lightblue">Justificar</button>-->