{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Llegadas Tarde
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block body %}



<table class="table">
  <thead>
    <tr>
      <th scope="col">Students</th>
    </tr>
  </thead>
  <tbody>
  {% for absence in absences %}
    <tr>
      <td>
        {{ absence.student.last_name | upper}},
        {{ absence.student.first_name }}

      </td>
      <td>
        <button id="btn-{{ absence.id }}" class="btn btn-flat" onclick="arrival({{ absence.id}})">Llegada tarde</button>
      </td>
  </tr>

  {% endfor %}          
  </tbody>
</table>
<script>
function arrival(id){
  $.ajax({
    type:"POST",
    url:"{% url 'late_arrival' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      absence : id,
    },
    success:function(results){
      $("#btn-"+id).remove()
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });

}

</script>
{% endblock body %}