{% extends 'base.html' %}
{% block imports %}
    <meta charset="utf-8"> {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static " css.css " %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    .card {
    width:400px;
    }
    .navbar{
      height: 175px;
    }
    </style>
{% endblock imports %}
{% block title %}
Menu
{% endblock title %}			
{% block navbar %}
{% endblock navbar %}
{% block body %}
{% for year in years %}
<center>
  <form action="{% url 'main' %}" method="POST" enctype="multipart/form-data" >
  <div class="row">
    <div class="col s12 m6">
      <div class="card small">
      
        <div class="card-content">
 
          


          <span class="card-title activator grey-text text-darken-4">{{year|upper}}<i class="material-icons right">more_vert</i></span>
          <div class="card-action">
          
          </div>
  
        </div>
        
        <div class="card-reveal" href="Equipos.html">
          <span class="card-title grey-text text-darken-4">INFORMACION DEL CURSO<i class="material-icons right">close</i></span>
          
          <a href="{% url 'list' year.id %}" class="btn btn-primary">Tomar lista</a>
          <p> </p>
          <a href="{% url 'late' year.id %}" class="btn btn-primary">Llegadas tarde</a>
          <p> </p>
          <a href="{% url 'early' year.id %}" class="btn btn-primary">Retiro Anticipado</a>
          <p> </p>
          <a href="{% url 'justification' year.id %}" class="btn btn-primary">Justificar Faltas</a>
        </div>
      </div>
      
    </div>
    </div>
    </form>
</center>




<!--
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
<div class="card-header">Curso</div>
<div class="card-body">
  <h5 class="card-title">{{ year|upper }}</h5>
  <a href="{% url 'list' year.id %}" class="btn btn-primary">Tomar lista</a>
  <a href="{% url 'late' year.id %}" class="btn btn-primary">Llegadas tarde</a>
  <a href="{% url 'early' year.id %}" class="btn btn-primary">Retiro Anticipado</a>
  <a href="{% url 'justification' year.id %}" class="btn btn-primary">Justificar Faltas</a>
</div>
</div>
-->

{% endfor %}		
{% endblock body %}