{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
ITS Villada

{% endblock title %}  

{% block navbar %}
{% endblock navbar %}
{% block body %}
    <style>
    .card {
    width: 95%;
    margin-top: 20px;
    }
    .main_button{
        width: 18rem;
    }
        .margin_correction{
            margin-right: 0px;
            margin-left: 23px
        }
    @media (max-device-width: 1000px){
            .card {
                width:100%;
                margin-top: 20px;
                margin-left: 20px;
            }
        .main_button{
            width: auto;
            margin-right: auto
        }
        .card-body{
            margin-right: 12px;
        }
        }

    </style>
    <div class="row margin_correction">
      {% for year in years %} 

      <div class="col-md-4">

          <center>



            <div class="card text-white bg-primary mb-3" >
              <div class="card-body">
                <span class="card-title activator grey-text text-darken-4">{{year|upper}} </span>
                <div class="card text-center main_button">      

                  <a href="{% url 'asistencia' year.id %}" class="btn btn-primary">   Tomar Asistencia</a>
                </div>

                <p> </p>
                <div class="card text-center main_button">  
                  <a href="{% url 'late' year.id %}" class="btn btn-primary">Llegadas Tardes</a>
                </div>
                <p> </p>
                <div class="card text-center main_button">  
                  <a href="{% url 'early' year.id %}" class="btn btn-primary">Retiro Anticipado</a>
                </div>
                <p> </p>
                <div class="card text-center main_button"> 
                  <a href="{% url 'justification' year.id %}" class="btn btn-primary">Justificar faltas</a>
                  
                </div>
              </div>
            </center>
          </div>

        {% endfor %}
      </div>
    
{% endblock body %}
