{% extends 'base.html' %}
{% block imports %}
{% endblock imports %}
{% block title %}
Retiros Anticipados
{% endblock title %}            
{% block navbar %}
{% endblock navbar %}
{% block style %}
.hola {
  border-radius: 5px;
  
  width:800px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 18px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
@media only screen and (max-width: 720px){
body{
    background-color: green;
}
.hola {
  border-radius: 5px;
  
  width:400px;
  margin: 2% auto;
  background-color: #FFFFFF;
  overflow: hidden;
    
}
.tr {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
.tr{
  font-size: 20px;
  background: #008bd2 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  
}
    .table{
       width: 610px; 
    }
    .pepe{
        width: 37%;
        font-size: 150%;
    }
    .juan{
        width: 400px;
        text-align: right;
    }
    .button_size{
        height: 70px;
    }

}

{% endblock style %}
{% block body %}


<div class="hola">

 <div class="tr">
  <thead>
    <tr>
      <th scope="col">Retiro Anticipado</th>
    </tr>
  </thead>
  </div>
<table class="table">
  <tbody>
  {% for student in students %}
    <tr>
      <td class="pepe">
        {{ student.first_name }}
        
        {{ student.last_name }}

      </td>
      <td style="width: 170px" id="td-{{ student.dni }}">
        <button id="btn-{{ student.dni }}" class="button_size btn btn-flat" onclick="retirement({{ student.dni }})" style="background:lightblue">Retiro Anticipado</button>
      </td>
  </tr>

  {% endfor %}          
  </tbody>
</table>
</div>
<script>
function retirement(dni){
  $.ajax({
    type:"POST",
    url:"{% url 'early_retirement' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      student : dni,
    },
    success:function(results){
      $("#btn-"+dni).remove()
      $("#td-"+dni).append("<button class='btn btn-flat' id='btnu-"+dni+"' onclick='undo("+dni+")' style='background:lightblue'>X</button>");
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });
}

function undo(dni){
  $.ajax({
    type:"POST",
    url:"{% url 'undo_retirement' %}",
    data:{
      'csrfmiddlewaretoken': '{{csrf_token}}',
      student : dni,

    },
    success:function(results){
      $("#btnu-"+dni).remove()
      $("#td-"+dni).append("<button id='btn-"+dni+"' class='btn btn-flat' onclick='retirement("+dni+")' style='background:lightblue'>Retiro Anticipado</button>");
    },
    error:function(request, status, error){
    $("body").html(request.responseText);
    }
  });
}

</script>
{% endblock body %}